{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-8">
              <h2>Miamyyyyyyy</h2>
              <p>Ce mois-ci c'est l'ouverture de la chasse à la carotte</p>
              <a class="btn btn-primary "href="/articles">Je lis mes articles saveurs cuisine</a>
            </div>
            <img src="/img/carrot.png" alt="" class="col-sm-4">
          </div>
        </div>

      </div>
  </div>
{% endblock %}
