{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
          <h2>Profil # {{ id }}</h2>

          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-3">
                <img class="" src="/img/man.png" alt="">
                <div class="text-center">
                  {{ count }} followers
                </div>
              </div>
              <p class="col-sm-8">
                Nunc accumsan dui fringilla nisl efficitur congue. Nullam gravida enim est, non elementum dolor placerat ut. Donec molestie ut sem nec convallis. Aenean libero mi, hendrerit quis faucibus eget, fringilla at purus. Morbi ornare augue ac vehicula cursus. Pellentesque molestie augue id sodales condimentum. Phasellus luctus ipsum eget lorem posuere, ut ultrices neque tincidunt. Sed ullamcorper laoreet tortor eget tincidunt. Donec sagittis urna non enim luctus mollis. Suspendisse potenti. Sed posuere, enim vel luctus commodo, magna elit tincidunt sem, vehicula dictum purus ipsum vel est. Praesent hendrerit ex velit, ac elementum magna luctus sed. Nulla facilisi. Suspendisse varius velit velit, nec placerat nisl accumsan vitae. Etiam et sollicitudin ligula.

Morbi dignissim sapien id elementum hendrerit. Donec nec aliquam nunc. Vivamus tempus massa vitae bibendum malesuada. Integer lacinia imperdiet sollicitudin. Curabitur viverra dictum felis a placerat. Vivamus est dui, iaculis sit amet neque sed, sollicitudin aliquam dolor. Morbi nec sodales turpis. Curabitur ullamcorper sapien quis massa finibus, eu sagittis leo commodo. Phasellus eget lobortis purus, eget volutpat magna. Duis pharetra, nisi at posuere pulvinar, velit tortor ultricies nisl, nec accumsan erat quam nec erat. Nulla facilisi.
              </p>
            </div>
          </div>


        </div>
    </div>
{% endblock %}
